services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: prml_backend
    command: python manage.py runserver 0.0.0.0:8200
    volumes:
      - .:/app
      - media_volume:/app/media
    ports:
      - "8200:8200"
    env_file:
      - .env
    restart: unless-stopped

  bot:
    build:
      context: ./bot
      dockerfile: Dockerfile
    container_name: prml_event_bot
    depends_on:
      - backend
    env_file:
      - .env
    environment:
      BOT_TOKEN: ${BOT_TOKEN}
      API_BASE_URL: http://backend:8200
    volumes:
      - media_volume:/app/media
    restart: unless-stopped

volumes:
  media_volume:
